@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  box-sizing: border-box;
}
/* @layer utilities {
  h1 {
    @apply baiJamjuree text-white text-[26px] font-semibold;
  }
} */
@layer components {
  .btn {
    @apply text-black w-full py-2 rounded-full text-sm hover:opacity-80;
  }
  .btn-gr {
    @apply bg-lightGrey;
  }
  .btn-black {
    @apply bg-black text-white;
  }
  .btn-border {
    @apply border border-gray-300;
  }
  /* card */
  .card {
    @apply p-[18px] rounded-xl;
  }
  /* heading */
  .lHeading {
    @apply baiJamjuree text-white text-[26px] font-semibold;
  }
  .mHeading {
    @apply uppercase font-medium;
  }
  .paragraph {
    @apply text-gray-500 text-sm;
  }
}
/* font family */
.outfit {
  font-family: "Outfit", sans-serif;
}
.baiJamjuree {
  font-family: "Bai Jamjuree", sans-serif;
}

/* star*/
.style-module_emptyIcons__Bg-FZ {
  display: flex !important;
}
.style-module_fillIcons__6---A {
  display: none !important;
}

/* scrollbar */
.scrolls::-webkit-scrollbar {
  width: 4px;
  height: 4px; /* Width of the scrollbar */
}
